/******** VARIABLES *********/

$primary-color: #03344a;
$secondary-color: #03a9f4;
$highlight-color: rgba(235, 191, 11);
$white-color: #fff;
$light-gray-color: #f0f0f0;
$dark-gray-color: #333;
$gray-color: #848c90;
$dark-contrast-color: #081921;

$big-shadow: 0 0 24px rgba(0, 0, 0, .4);

